<!--TODO 如果用bulma cdn，有些样式会被覆盖得很奇怪-->
<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">-->
{{- $mainStyle := resources.Get "css/main.css" -}}
<!--{{- $customStyle := resources.Get "css/custom.css" -}}-->
<!--{{- $style := slice $mainStyle $customStyle | resources.Concat "css/bundle.css" | resources.Minify | resources.Fingerprint -}}-->
{{- $style := slice $mainStyle | resources.Concat "css/bundle.css" | resources.Minify | resources.Fingerprint -}}
<link rel=stylesheet href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" crossorigin="anonymous">
<!--{{- $customScript := resources.Get "js/custom.js" -}}-->
<!--这里把bundle.js去掉，所有js改为内联-->
<!--{{- $script := slice $customScript | resources.Concat "js/bundle.js" | resources.Minify | resources.Fingerprint -}}-->
<!--<script src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}" crossorigin="anonymous"></script>-->
{{- partial "head/math" . -}}
{{- partial "head/highlight" . -}}
{{- partial "head/scroller" -}}
<style>
    a {
        text-decoration: none;
        color: inherit;
    }
    main {
        top: 90px;
        padding-top: 55px;
        margin-bottom: 0.5rem;
    }
    @media (min-width: 1023px) {
        #mobile-navbar {
            display: none;
        }
    }

    @media (max-width: 1024px) {
        #desktop-navbar {
            display: none;
        }
    }

    #mobile-navbar > div.navbar-menu.is-active > div > a {
        width: 50px;
        display: inline-block;
    }


    @media screen and (max-width: 960px) {
        .is-1 {
            display: none !important;
        }
    }

    @media screen and (min-width: 361px) {
        .z-pagination-mobile {
            display: none;
        }
    }

    @media screen and (max-width: 360px) {
        .z-pagination-desktop {
            display: none;
        }
    }
    ul {
        padding-left: 0;
    }
    body {
        display: flex;
        flex-flow: column;
        margin: 0 !important;
    }
    .columns {
        margin: 0 !important;
    }
    pre {
        white-space: pre-wrap;
        word-wrap: break-word;
    }
</style>
