{{- if or .Params.math .Site.Params.math -}}
<link rel="stylesheet"
      href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.6.0/build/styles/atom-one-light.min.css">
<script defer src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.6.0/build/highlight.min.js"
        onload="initHighLight();"></script>
<script>
    function initHighLight() {
        hljs.configure({
            languages: ["c", "cpp", "java", "c#"]
        });
        const codes = document.querySelectorAll('div code')
        codes.forEach((block) => {
            if (block.classList.length >= 1) {
                block.innerHTML = "<ul><li>" + block.innerHTML.replace(/\n/g, "\n</li><li>") + "\n</li></ul>";
                hljs.highlightBlock(block);
            } else {
                block.classList.add('z-inline-code')
            }
        });
    }
</script>
{{- end -}}
