<div>
        <span class="z-post-meta">
            {{ .Date.Format ("Jan 2, 2006") }}
        </span>
    {{- range $key, $value := .Site.Taxonomies -}}
    {{- range ($.GetTerms $key) -}}
    {{ if eq $key "category" }}
    <span class="z-post-tag success">
        <a href="{{ .Permalink }}" class="z-post-meta">{{ .Name }}</a>
    </span>
    {{ else }}
    <span class="z-post-tag warning">
        <a href="{{ .Permalink }}" class="z-post-meta">#{{ .Name }}</a>
    </span>
    {{ end }}
    {{- end -}}
    {{- end -}}
</div>
<!--TODO 有个问题 这样子style会被多次引入-->
