{{- $toc := .TableOfContents -}}
<style>
    .accordion-header {
        font-size: 24px;
        color: #0a0a0a;
        user-select: none;
    }
    .accordion {
        position: fixed;
    }
    .accordion-header:hover {
        cursor: pointer;
    }
</style>
<div class="accordion  box">
    <div class="accordion-header" id="headingTOC">
                    <span class="icon-text">
                    <span class="icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none"
                                                                                               d="M0 0h24v24H0z"/><path
              d="M12 3v2H3V3h9zm4 16v2H3v-2h13zm6-8v2H3v-2h19z"/></svg>
                    </span>
                    <span>目录</span>
                </span>
    </div>
    <div id="collapseTOC" aria-labelledby="headingTOC">
        <div class="accordion-body">
            {{ $toc }}
        </div>
    </div>
</div>
<script>
    let isShow = true;
    let body = document.getElementById('collapseTOC');
    let last = null;
    document.getElementById('headingTOC').addEventListener('click', () => {
        isShow = !isShow;
        if (isShow) {
            body.style.display = 'block';
        } else {
            body.style.display = 'none';
        }
    });
    document.body.querySelectorAll('#TableOfContents a,.anchor').forEach(nd => {
        // 点击后，上次的锚点的css类就要取消
        nd.addEventListener('click', () => {
            if (last != null) {
                document.getElementById(last).classList.remove("z-dingweizhunque");
            }
            const id = nd.getAttribute("href").substr(1);
            last = id;
            document.getElementById(id).classList.add("z-dingweizhunque");
        })
    })
</script>
<!--TODO B+树这篇有毒 原因是代码不会自动换行-->
