<!doctype html>
<html lang="{{ .Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{- block "title" . -}}{{- partial "head/title" . -}}{{- end -}}</title>
    {{- partial "head.html" . -}}
    {{- block "head-end" . -}}{{- end -}}
    <style>
      .btn-scroll-to-top {
        bottom: 1.5rem;
        color: black;
        display: none;
        position: fixed;
        right: 1.5rem;
      }
    </style>
  </head>
  <body>
    {{- partial "header.html" . -}}
    <main role="main">
      <div>
        {{- block "content" . -}}{{- end -}}
      </div>
    </main>
    {{- partial "footer.html" . -}}
    <!--滚动到顶部-->
    <a id="btnScrollToTop" class="btn-scroll-to-top">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
        <path fill="none" d="M0 0h24v24H0z"/>
        <path d="M13 7.828V20h-2V7.828l-5.364 5.364-1.414-1.414L12 4l7.778 7.778-1.414 1.414L13 7.828z"/>
      </svg>
    </a>
    <!--百度统计-->
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?7ddc9ab94909306a499447b261e024df";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
  </body>
</html>
