{{ define "head-end" }}
{{- $script := resources.Get "js/search.js" | resources.Fingerprint -}}
<script src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}" crossorigin="anonymous"></script>
{{ end }}
{{ define "content" }}
<div class="columns">
    <div class="column is-1"></div>
    <div class="column">
        <div>
            <form id="searchForm">
                <div class="field has-addons">

                        <input class="input is-fullwidth z-search-input"
                               name="q"
                               type="search"
                               placeholder="请输入关键字"
                               aria-label="Search">
                </div>
            </form>
            <div class="notification is-warning is-light z-search-tip">
                <svg  id="loadingSpinner" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 2a1 1 0 0 1 1 1v3a1 1 0 0 1-2 0V3a1 1 0 0 1 1-1zm0 15a1 1 0 0 1 1 1v3a1 1 0 0 1-2 0v-3a1 1 0 0 1 1-1zm8.66-10a1 1 0 0 1-.366 1.366l-2.598 1.5a1 1 0 1 1-1-1.732l2.598-1.5A1 1 0 0 1 20.66 7zM7.67 14.5a1 1 0 0 1-.366 1.366l-2.598 1.5a1 1 0 1 1-1-1.732l2.598-1.5a1 1 0 0 1 1.366.366zM20.66 17a1 1 0 0 1-1.366.366l-2.598-1.5a1 1 0 0 1 1-1.732l2.598 1.5A1 1 0 0 1 20.66 17zM7.67 9.5a1 1 0 0 1-1.366.366l-2.598-1.5a1 1 0 1 1 1-1.732l2.598 1.5A1 1 0 0 1 7.67 9.5z"/></svg>
                <span id="searchStat"></span>
            </div>
            <div id="searchResults" class="search-results"></div>
            <div class="text-center">
                <button class="button is-fullwidth" id="btnLoadMore">
                    加载更多
                </button>
            </div>
        </div>
        <script type="text/html" id="templateResult">
            <div class="box" id="{{ print "{{id}}" }}">
                <h3 class="search-result-title">
                    <a {{ printf "href={{permalink}}" | safeHTMLAttr }}>{{ print "{{title}}" }}</a>
                </h3>
                <div class="search-result-meta">
                    {{- $baseURL := absLangURL "" -}}
                    {{- $placeholder := "{{#url}}{{.}}{{/url}}" -}}
                    {{- range slice "category" "tags" -}}
                    {{ printf "{{#%s}}" . }}
                    {{ if eq . "category" }}
                    <span class="tag is-success is-light">
                    <a {{ printf "href=\"%s%s/%s/\"" $baseURL . $placeholder | safeHTMLAttr }} class="z-post-meta">
                    {{ printf "{{.}}" }}</a>
                    </span>
                    {{ else }}
                    <span class="tag is-warning is-light">
                    <a {{ printf "href=\"%s%s/%s/\"" $baseURL . $placeholder | safeHTMLAttr }} class="z-post-meta">
                    {{ printf "#{{.}}" }}</a>
                    </span>
                    {{ end }}
                    {{ printf "{{/%s}}" . }}
                    {{- end -}}
                </div>
                <div class="search-result-content">{{ print "{{{content}}}" }}</div>
            </div>
        </script>
    </div>
    <div class="column is-1"></div>
    <!--在这个页面搜 不会发送网络请求-->
</div>
{{ end }}
