{{ define "content" }}
<style>
    .z-term-item {
        background: #9fceff !important;
        margin-bottom: 10px;
    }
</style>
<div>
    <div class="columns">
        <div class="column is-1"></div>
        <div class="column" style="padding-left: 12px;">
            {{- partial "breadcrumb" . -}}
            <div>
                <h1>{{ .Title }}</h1>
                <div>
                    {{- range .Data.Terms.ByCount -}}
                    <a href="{{ .Page.Permalink }}">
                        <span class="tag is-medium z-term-item">
                            {{ .Page.Title }}({{ .Count }})
                        </span>
                    </a>
                    {{- end -}}
                </div>
            </div>
        </div>
        <div class="column is-1"></div>
    </div>
</div>
{{ end }}
