{{- if or (default true .Site.Params.breadcrumb) (default true .Params.breadcrumb) -}}
<style>
    .z-breadcrumb {
        list-style: none;
        user-select: none;
    }
    .z-breadcrumb li {
        display: inline;
        font-size: 1rem;
    }
    .z-breadcrumb li + li:before {
        padding: 8px;
        color: #666;
        content: "/\00a0";
    }
    .z-breadcrumb li a {
        color: #666;
    }
    .z-breadcrumb li a:hover {
        color: #363636;
    }
</style>
<ul class="z-breadcrumb">
    {{- template "breadcrumbnav" (dict "p1" . "p2" .) -}}
</ul>
{{- end -}}
{{- define "breadcrumbnav" -}}
{{- if .p1.Parent -}}
{{- template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  -}}
{{- else if not .p1.IsHome -}}
{{- template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  -}}
{{- end -}}
{{- if eq .p1 .p2 -}}
<li class="is-active">{{ .p1.Title }}</li>
{{- else -}}
<li><a href="{{ .p1.Permalink }}">{{ if .p1.IsHome }}{{ "首页" }}{{ else }}{{ .p1.Title }}{{ end }}</a></li>
{{- end -}}
{{- end -}}
