{{- $pages := (.Paginate .RegularPagesRecursive).Pages -}}
<style>
    .z-post-list-item > h3 {
        margin-top: 0;
        margin-bottom: 10px;
    }
    .z-post-meta {
        font-size: 14px;
    }
    .z-post-tag{
        align-items: center;
        border-radius: 4px;
        display: inline-flex;
        font-size: .75rem;
        height: 2em;
        justify-content: center;
        line-height: 1.5;
        padding-left: .75em;
        padding-right: .75em;
    }
    .z-post-tag.success{
        background-color: #effaf3;
        color: #257942;
    }
    .z-post-tag.warning{
        background-color: #fffbeb;
        color: #947600;
    }
</style>
<div>
    <div class="columns">
        <div class="column is-1"></div>
        <div class="column">
            {{- if .IsHome -}}
            {{- $sections := default (slice "posts") .Site.Params.mainSections -}}
            {{- $pages = where (.Paginate .Site.RegularPages).Pages "Type" "in" $sections -}}
            {{- else -}}
            {{- partial "breadcrumb" . -}}
            {{- end -}}
            {{- partial "hooks/list-begin" . -}}
            <div>
                {{- range $pages -}}
                <div class="z-box z-post-list-item">
                        <h3>
                            <a href="{{ .Permalink }}">{{ .Title }}</a>
                        </h3>
                        {{- partial "post/list-meta" . -}}
                </div>
                {{- end -}}
            </div>
            {{- partial "hooks/list-end" . -}}
            {{- partial "pagination" . -}}
        </div>
        <div class="column is-1"></div>
    </div>
</div>
