<style>
    .z-detail-title {
        margin-top: 0;
        margin-bottom: 12px;
    }
    .z-detail, h1 h2 h3 {
        color: #333;
    }
    .z-inline-code {
        background: #FFFFCC;
    }
    .img-fluid {
        /*图片渲染不超过文章宽度*/
        max-width: 100%;
        max-height: 100%;
    }
    /*line number*/
    .hljs ul li {
        list-style: decimal;
        padding: 3px !important;
        margin: 0 !important;
    }
    #collapseTOC {
        height: 450px;
        overflow: auto;
    }
    /*想办法让点到的标题 有一个这个css 而不是每个标题 根据目录点击的href获得id，然后找到这个id，添加css*/
    .z-dingweizhunque {
        padding-top: 2.3333333em !important;
        margin-top: -1.6666666em !important; /* 临时解决方案... */
        /*他妈的，纵向margin重叠了解一下，https://juejin.cn/post/6844903497045917710*/
    }
</style>
<article class="content post">
  <div class="columns">
    <div class="column is-full z-detail">
      <div class="post-content columns">
          <div class="column is-8">
              <h1 class="z-detail-title">{{ .Title }}</h1>
              {{- partial "post/detail-meta" . -}}
              {{- partial "hooks/content-begin" . -}}
            {{- .Content -}}
          </div>
          <div class="column is-4">
            {{- partial "post/toc" . -}}
          </div>
        </div>
      {{- partial "post/copyright" . -}}
      {{- partial "hooks/content-end" . -}}
    </div>
  </div>
</article>
